*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    /* font-family: 'Lora', serif;*/
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color:#212121;
    font-size: 16px;
    line-height: 1.5;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Main_header */
#main_header{
    border-bottom: 0.5px solid #76ad00;
    box-shadow: 1px 1px 2px #333;
    /* background-color: #c6ed9a; */
    text-shadow: 1px 1px 2px #333;
}
header #main_logo{
    font-size: 25px;
    color: #212121;
}
header #main_logo span{
    color: #37ad2f;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header .username{
    font-size: 20px;
}

/* Navbar */
nav{
    /* border-bottom: 1px solid #f1f1f1; */
    box-shadow: 2px 2px 3px #999;
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 1;
}
#navbar .flex-container {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#navbar ul{
    list-style-type: none;
    display: flex;
}
#navbar ul a{
    font-weight: 600;
    font-size: 18px;
    color: #212121;
}
#navbar li{
    margin: 0px 25px;
}
#navbar a:hover{
    color: #000;
    font-size: 20px;
}

/* main_section */
main{
    background-image: url(../modules/main2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #f1f1f1;
}
main .container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main #middle_head{
    text-shadow: 1px 1px 2px #333;
    font-size: 40px;
    margin: 10px 0;
}
main p{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}
main a{
    background-color: #f1f1f1;
    color: #212121;
    padding: 10px;
    padding: 15px 10px;
    font-weight: 400;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-top: 10px;
}
main a:hover{
    font-weight: bolder;
    background-color: #dfdfdf;
}

/* section_for_products */
section .container{
    display: flex;
    justify-content: space-around;
}
section img{
    width: 200px;
    height: 200px;
}
section div{
    padding: 30px 0;
}
section .product{
    padding: 15px;
    height: 100%;
    background-color: #f0f0f0;
    color: #212121;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section p{
    font-weight: 500;
    /* justify-self: end; */
}

section .product:hover{
    box-shadow: 1px 1px 2px #555;
}
section h1{
    width: 300px;
}
section p{
    font-size: 18px;
}

/* About Me Section */
article{
    /* border-top: 1px solid #6032cf;
    border-bottom: 1px solid #6032cf; */
    background-color:#f1f1f1;
    box-shadow: 0px 0px 2px #333;
}

article .container .intro{
    font-size: 35px;
    display: inline-block;
    margin: 15px 0;
    text-shadow: 1px 1px 2px #333;
}

article img{
    margin-bottom: 30px;
    margin-right: 30px;
}
article div #details{
    display: flex;
}
article div section .sub_intro{
    display: flex;
    flex-direction: column;
}
article div section .sub_intro h1{
    font-size: 25px;
    margin: 5px;
}
article div section .sub_intro p{
    margin: 5px;
}

/* Back to Top */
/* #btt{
    text-align: center;
    background-color: #6032cf;
    padding: 15px 0;
    box-shadow: 0px 0px 3px #333;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
} */
.btt {
    background-color: #dfdfdf;
    padding: 15px 0;
    box-shadow: 0px 0px 3px #333;
    text-align: center;
}
.btt a{
    color: #333;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 1px 1px 2px #333;
}

/* Contacts */
/* #main_footer{
    background-color: #f9f9f9;
} */
#main_footer img{
    width: 30px;
    height: auto;
}
#main_footer div h1{
    font-size: 30px;
    margin: 20px 0;
    text-shadow: 1px 1px 2px #333;
}
footer div .split_column{
    display: flex;
    justify-content: space-between;
}
footer div .split_column .part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer div .split_column .part1 a, footer div .split_column .part1 p{
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
    font-size: 20px;
}
footer div .split_column .part2{
    display: flex;
    flex-direction: column;
}
/* footer div .split_column .part2 h1{
    margin-top: 0px;
} */
footer div .split_column #form_section{
    width: 50%;
}
footer div .split_column #form_section input ,textarea{
    padding: 10px;
    outline:#333;
    resize: none;
    background-color: #fff;
    margin-bottom: 10px;
}
footer div .split_column #form_section label{
    margin-bottom: 5px;
}
footer div .split_column #form_section input[type=submit]{
    background-color: #dfdfdf;
    font-weight: 600;
    border: none;
    align-self: center;
    width: 100%;
    box-shadow: 1px 1px 3px #333;
    margin-bottom: 15px;
}
footer div .split_column #form_section input[type=submit]:hover{
    box-shadow: 1px 1px 2px #333;
    background-color: #cfcfcf;
    font-weight: 500;
}

/* end footer */
#end_footer{
    background-color: #dfdfdf;
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

@media(max-width:800px){
    /* header */
    .container{
        width: 90%;
    }
    header .container{
        justify-content: baseline;
        margin-bottom: 15px;
    }
    header p{
        text-align: right;
    }

    /* navbar */
    #navbar li{
        margin: 0px 20px;
    }

    /* section */
    section .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    }
    section .product{
        margin: 10px 0;
    }

    /* about */

    article img{
        margin-right: 20px;
    }
    article .container .intro{
        margin: 5px 0;
    }
    footer div .split_column {
        flex-direction: column;
    }

    footer div .split_column #form_section {
        width: 100%;
    }
}
@media(max-width:500px){
    header .container{
        flex-direction: column;
    }
    article div #details{
        flex-direction: column;
    }
    article img{
        margin: 0;
        margin-top: 5px;
    }
}